= devise_error_messages!

= form.input :first_name, placeholder: "First"
= form.input :last_name, placeholder: "Last"
= form.input :email, placeholder: "email"
= form.input :password, hint: form.object.new_record? ? "" : "Leave blank if you don't want to change it."
= form.input :password_confirmation
- unless form.object.new_record?
  = form.input :current_password, hint: "We need your current password to confirm your changes."
