.page-header
  %h1 User

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |form|
  = render form
  .form-actions
    = form.submit "Update", class: "btn btn-primary"
    = link_to "Cancel", root_path, class: "btn btn-link"


%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
