.page-header
  %h1 Forgot your password?

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), wrapper: :horizontal_form, html: {class: "form-horizontal", role: "form"}) do |f|
  = devise_error_messages!

  = f.input :email

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.button :submit, "Send me reset password instructions", class: "btn-primary"

  .form-group
    .col-sm-offset-3.col-sm-9
      = render :partial => "devise/shared/links"
