.page-header
  %h1
    = fa_icon("globe")
    World Diary

Here you'll find information regarding the people, places, and things
residing in a fictional role playing game universe.

%h3 Players
%p
  Please #{link_to("register", new_user_registration_path)} so that your
  dungeon master can issue you #{link_to("veil passes", veil_passes_path)},
  which will allow you to see otherwise restricted information pertaining to
  the subjects detailed within.

%h3 Recently Updated
.row
  - @updated_subjects.in_groups(3, false) do |group|
    .col-md-3
      %ol{start: @updated_subjects.index(group.first).to_i + 1}
        = list_of(group) do |subject|
          = link_to(subject.name, subject, title: time_ago_in_words(subject.updated_at) + " ago", rel: "tooltip")
          = attachment_icon(subject)
          = context_icon(subject)
