= simple_form_for(@subject, wrapper: :vertical_form, html: {role: "form"}, wrapper_mappings: {select: :vertical_select, boolean: :vertical_boolean}) do |f|
  = f.error_notification

  %fieldset
    = f.input :name
    = f.input :text, input_html: {rows: 10}
    - unless @subject.new_record?
      = f.input :permalink
    = f.input :dm_only, label: "DM only"

  %fieldset
    %legend Attachments
    = f.simple_fields_for :attachments,
                          wrapper_mappings: {boolean: :vertical_boolean} do |ff|
      = ff.label :_destroy do
        - if ff.object.image?
          .thumbnail{style: "margin-bottom: -5px"}
            = image_tag(ff.object.attachment.url("micro"))
        - else
          = File.basename(ff.object.attachment.path)
      = ff.input :caption
      = ff.input :dm_only, label: "DM only"
      = ff.input :_destroy, as: :boolean, label: "Delete"

    = f.simple_fields_for(:attachments,
                          @subject.attachments.new,
                          wrapper_mappings: {boolean: :vertical_boolean}) do |ff|
      = ff.input :attachment, as: :file, wrapper: :vertical_file_input, label: "New attachment"
      = ff.input :remote_attachment_url, label: "Attachment URL"
      = ff.input :caption
      = ff.input :dm_only, label: "DM only"

  %fieldset
    %legend Veil Passes
    = f.simple_fields_for :veil_passes,
                          wrapper_mappings: {boolean: :vertical_boolean} do |ff|
      = ff.label ff.object.user_name, class: "text-capitalize"
      = ff.input :includes_attachments, as: :boolean
      = ff.input :_destroy, as: :boolean, label: "Delete"

    = f.simple_fields_for :veil_passes,
                          @subject.veil_passes.new,
                          wrapper_mappings: {boolean: :vertical_boolean} do |ff|
      = ff.input :user_id, collection: veil_pass_user_ids, include_blank: true, label: "New Veil Pass"
      = ff.input :includes_attachments

  %fieldset
    %legend Tags
    = f.input :tag_list

    = f.button :submit, "Update", class: "btn-primary"
    = link_to "Cancel", @subject.new_record? ? subjects_path : @subject, class: "btn btn-link"
