.page-header
  %h1.title Subjects

.row
  - @subjects.in_groups(3, false) do |group|
    .span3
      %ol{start: 1+@subjects.index(group.first).to_i}
        = list_of(group) do |subject|
          = link_to(subject) do
            = subject.name
            - if subject.dm_only?
              - if current_user.dm?
                = locked_icon
              - elsif can? :read, subject
                = unlocked_icon


= content_for(:sidebar) do
  - if can?(:create, Subject)
    %h4
      Actions
      %i.icon-wrench
    %ul.nav.nav-tabs.nav-stacked
      - if can?(:create, Subject)
        %li
          = link_to(new_subject_path) do
            %i.icon-plus
            New
