.page-header
  %h1.title
    = @subject.name
    = context_icon(@subject)

= render_wiki(@subject.text)

.row-fluid.comments
  .span6
    %h4 Comments
    - @subject.comments.each do |comment|
      .media
        %i.icon-quote-left.icon-large.pull-left
        .media-body
          .media-heading
            = comment.user_name
            said:
          .media.comment-body
            = comment.comment
            %span.muted
              = time_ago_in_words(comment.created_at).capitalize
              ago.

  .span6
    %h4 Add your comment
    - if user_signed_in?
      = render partial: "comments/form"
    - else
      = link_to("Sign in", new_user_session_path)
      to comment.

= content_for(:title) do
  = @subject.name

= content_for(:sidebar) do
  -# Use @attachments, which is restricted by dm only / veil passes
  - @attachments.each do |attachment|
    - if attachment == @subject.attachments.first
      %h4
        %i.icon-paper-clip
        Attachments
    = link_to(attachment.attachment.url) do
      - if attachment.image? # TODO set default url
        = attachment_image_overlay(attachment) do
          = image_tag(attachment.attachment.thumb.url, :class => "img-polaroid")
      %span<>
        = File.basename(attachment.attachment.path, File.extname(attachment.attachment.path)).humanize
    - unless attachment.image?
      = context_icon(attachment)
    = attachment_metadata(attachment)

    - unless attachment == @subject.attachments.last
      %div{style: "margin-top: 4px"}  

  %h4
    %i.icon-time
    Changes
  .row
    .span1 Updated:
    .span2{title: @subject.updated_at.year}
      = @subject.updated_at.to_s(:short)
  - if can? :manage, @subject
    .row
      .span1 Created:
      .span2{title: @subject.created_at.year}
        = @subject.created_at.to_s(:short)

-# Use @veil_passes, which is properly restricted by authorization
- if @veil_passes.present?
  = content_for(:sidebar) do
    %h4
      %i.icon-key
      Veil Passes
    %ul
      = list_of(@veil_passes.joins(:user).order(:users => [:first_name, :last_name])) do |vp|
        = vp.user_name
        - if vp.includes_attachments
          %abbr{rel: "tooltip", title: "This veil pass includes attachments."}
            %i.icon-paper-clip

- if can?(:update, Subject) || can?(:destroy, Subject)
  = content_for(:sidebar) do
    %h4
      %i.icon-wrench
      Actions
    %ul.unstyled
      - if can?(:update, Subject)
        %li
          = link_to(edit_subject_path(@subject), accesskey: "e") do
            %i.icon-pencil
            Edit Subject
      - if can?(:destroy, Subject)
        %li
          = link_to(subject_path(@subject),
                    :method => :delete,
                    :class => "action-danger",
                    :confirm => "Are you sure?") do
            %i.icon-remove
            Delete Subject
