.page-header
  %h1.title
    = @subject.name
    = locked_icon if @subject.dm_only?

= render_wiki(@subject.text)

= content_for(:sidebar) do
  - @subject.attachments.each do |attachment|
    - if attachment == @subject.attachments.first
      %h4
        Attachments
        %i.icon-paper-clip
    = link_to(attachment.attachment.url) do
      - if attachment.image? # TODO set default url
        = image_tag(attachment.attachment.thumb.url, :class => "img-polaroid")
      %span<>
        = File.basename(attachment.attachment.path, File.extname(attachment.attachment.path)).humanize
    = attachment_metadata(attachment)

    - unless attachment == @subject.attachments.last
      %div{style: "margin-top: 4px"}  
= content_for(:sidebar) do

  - if can?(:update, Subject) || can?(:destroy, Subject)
    %h4
      Actions
      %i.icon-wrench
    %ul.nav.nav-tabs.nav-stacked
      - if can?(:update, Subject)
        %li
          = link_to(edit_subject_path(@subject)) do
            %i.icon-pencil
            Edit
      - if can?(:destroy, Subject)
        %li
          = link_to(subject_path(@subject),
                    :method => :delete, :confirm => "Are you sure?") do
            %i.icon-remove
            Delete
