%h1 Search Results

%p.lead
  Your search for <q>#{@search.query}</q> returned
  = succeed(".") do
    = pluralize(@search.results.size, "result")

%ol
  = list_of(@search.results) do |subject|
    = link_to(subject) do
      = subject.name
