- if @recent_subjects.present?
  = content_for(:sidebar) do
    %h4
      %i.icon-file
      Recent Subjects
    %ul.unstyled
      = list_of(@recent_subjects) do |subject, time|
        = link_to(subject.name, subject, {title: time_ago_in_words(time || Time.at(0)) + " ago", rel: "tooltip"})
        = context_icon(subject)

!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= title
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "/favicon.ico", rel: "shortcut icon"}


  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(root_path, class: "brand") do
            %i.icon-globe
            World Diary
          .container.nav-collapse
            %ul.nav
              %li{class: active_link_class(subjects_path)}
                = link_to subjects_path, class: "halflings film" do
                  %i.icon-file
                  Subjects
              - if user_signed_in? && (current_user.dm? || current_user.veil_passes.present?)
                %li{class: active_link_class(veil_passes_path)}
                  = link_to(veil_passes_path) do
                    %i.icon-key
                    Veil Passes
              - if can?(:edit, :users)
                %li{class: active_link_class(users_path)}
                  = link_to(users_path) do
                    %i.icon-group
                    Users
            .pull-right
              %ul.nav
                - if user_signed_in?
                  %li
                    = link_to(edit_user_registration_path) do
                      %i.icon-user
                      = current_user.first_name
                      = current_user.last_name
                  %li{class: active_link_class(destroy_user_session_path)}
                    = link_to(destroy_user_session_path,
                              :method => :delete) do
                      %i.icon-signout
                      Sign Out
                - else
                  %li{class: active_link_class(new_user_session_path)}
                    = link_to(new_user_session_path) do
                      %i.icon-signin
                      Sign In
                  %li{class: active_link_class(new_user_registration_path)}
                    = link_to(new_user_registration_path) do
                      %i.icon-plus-sign
                      Sign Up

    .container

      .row
        .span9
          = bootstrap_flash
          = yield
        - if content_for?(:sidebar)
          .span3
            = content_for(:sidebar)

      %footer.muted
        %p © Eric A Wollesen 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
