- if @recent_subjects.present?
  = content_for(:sidebar) do
    %li
      %h4.hidden-md.hidden-lg
        Recent Subjects
      %h4.hidden-xs.hidden-sm
        Recently Visited Subjects
      %ul.nav
        = list_of(@recent_subjects) do |subject, time|
          = link_to(subject.name, subject)


!!! 5
%html(lang="en")
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= title
    = csrf_meta_tags

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag("//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      = javascript_include_tag("//oss.maxcdn.com/respond/1.4.2/respond.min.js")
    = stylesheet_link_tag("application", media: "all")
    %link{href: "/favicon.ico", rel: "shortcut icon"}

  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{type: "button",
                                data: {toggle: "collapse",
                                       target: "#wd-navbar-collapse"}}
            %span.sr-only Toggle navigation
            = fa_icon("bars")
          = link_to(root_path, class: "navbar-brand") do
            = fa_icon("globe")
            World Diary

        #wd-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: active_link_class(subjects_path)}
              = link_to("Subjects", subjects_path)
            - if user_signed_in?
              %li{class: active_link_class(veil_passes_path)}
                = link_to("Veil Passes", veil_passes_path)
              - if current_user.dm?
                %li{class: active_link_class(users_path)}
                  = link_to("Users", users_path)

          = simple_form_for(@search || Search.new,
                            html: {class: "navbar-form navbar-left"}) do |f|
            .input-group
              %span.input-group-addon
                = fa_icon("search")
              = f.input(:query, label: false, as: :search, placeholder: "Search")
              %span.input-group-btn
                = f.button(:submit, "Go")

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to current_user.name, edit_user_registration_path, class: "navbar-link"
            - else
              %li
                = link_to("Sign up", new_user_registration_path)
            %li
              - if user_signed_in?
                = link_to("Sign Out", destroy_user_session_path, method: "delete")
              - else
                = link_to("Sign In", new_user_session_path)


    .container
      = bootstrap_flash if flash.present?
    .container
      .row
        .col-md-9
          = yield
        - if content_for?(:sidebar)
          .col-md-3
            %ul.nav
              = content_for(:sidebar)

    %footer.text-muted.container-fluid.small
      %p © Eric A Wollesen 2012&ndash;#{Time.now.year}
    = javascript_include_tag("application")
